.navbar-custom {
  margin-bottom: 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(1, 98, 151, 0.3);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(1, 98, 151, 0.7);
}
.navbar-custom .navbar-toggle {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
  color: #000;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #fff;
}
.navbar-custom .nav li a {
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
  color: #CCC3FF;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-custom .nav li.active a:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: rgba(1, 98, 151, 0.9);
    border-bottom: 1px solid rgba(1, 98, 151, 0.3);
  }
}
.intro {
  display: table;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 30% 0;
  text-align: center;
  color: #fff;
  background: url(../img/backgrounds/intro.jpg) no-repeat bottom center scroll;
  background-color: #fff;
  background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 2em;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 120px 0 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 4em;
  }
  .intro .intro-body .intro-text {
    font-size: 1.5em;
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100% !important;
  font-size: 40px;
  color: #fff;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
section .description__prime {
  font-size: 1.3em;
  text-align: justify;
  padding-top: 50px;
  color: #fff;
}
section .description__secondary {
  font-size: 1em;
  padding-top: 30px;
  text-align: justify;
}
section .containter__title {
  text-align: center;
}
section h1 {
  border: 3px solid #fff;
  display: inline-block;
  padding: 20px;
}
section .description__know {
  background-color: rgba(0, 136, 182, 0.8);
  padding: 20px 30px 10px;
  margin-top: 40px;
  font-size: .7em;
}
section .description__know h4 {
  text-align: left;
}
section .description__know p {
  text-align: justify;
}
.content-section {
  margin: 0 auto;
  min-height: 700px;
  padding: 50px 20px;
  color: #fff;
  max-width: 1500px;
}
[class*="highlighted"] {
  padding: 4px;
  border-radius: 4px;
  margin: 0 2px;
  font-size: .8em;
}
.info {
  padding-top: 80px;
  background-color: #49839A;
}
.info [class^='col'] {
  padding: 0 20px;
  margin-bottom: 100px;
}
.info [class^='col'] p {
  line-height: 1.8em;
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
}
.info .start-icon {
  height: 130px;
  width: 130px;
  margin-bottom: 30px;
}
.info .image-below {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}
#map {
  margin: 20px auto;
  height: 400px;
  max-width: 500px;
  background-color: #fff;
}
.rainforest {
  background: linear-gradient(rgba(55, 97, 9, 0.6), rgba(55, 97, 9, 0.6)), url(../img/backgrounds/aquaria.jpg) no-repeat center center scroll;
  background-size: cover;
}
.rainforest--red {
  background-color: rgba(255, 0, 0, 0.7);
}
.rainforest--orange {
  background-color: rgba(250, 141, 29, 0.7);
}
.rainforest--meter {
  background: #fff;
  color: #000;
}
.tropic {
  background: linear-gradient(rgba(26, 128, 233, 0.7), rgba(26, 128, 233, 0.7)), url(../img/backgrounds/shark.jpg) no-repeat center center scroll;
  background-size: cover;
}
.description__know--liters {
  background-color: black;
}
.opentime {
  background-color: #313131;
  padding-top: 100px;
  padding-bottom: 0;
}
.opentime h3 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  padding-left: 20px;
  padding-bottom: 3px;
}
.opentime ul li {
  background-color: transparent;
  border-color: transparent;
  padding: 12px 0;
  width: 70%;
  text-align: justify;
  line-height: 1.8em;
}
.opentime .secondary {
  padding: 10px 20px;
}
.opentime .secondary li {
  padding: 4px 0;
  width: 100%;
}
.opentime .secondary .ticket_category {
  background: rgba(181, 213, 255, 0.2);
}
.opentime .ticket-button {
  text-align: center;
  margin-bottom: 30px;
}
.ticket_category {
  background: rgba(181, 213, 255, 0.4);
  font-weight: normal;
  letter-spacing: .1em;
  padding: 5px;
  border-radius: 2px;
}
.nordic {
  background: linear-gradient(rgba(101, 101, 101, 0.7), rgba(101, 101, 101, 0.7)), url(../img/backgrounds/north.jpg) no-repeat center center scroll;
  background-size: cover;
  background-color: #210b85;
}
.nordic h1 {
  text-align: right;
}
.nordic .description__know {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.nordic .description__know--romkorn {
  background-color: #fff;
  color: #000;
}
.contact {
  background-color: #DEDEDE;
  min-height: 200px;
  color: #000;
}
.contact p {
  font-size: .8em;
  line-height: .5em;
}
.contact .row div {
  margin-bottom: 40px;
}
.sponsors {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  min-height: 50px;
}
.sponsors div a {
  display: inline-block;
  width: auto;
  border: 0;
}
.sponsors div a:hover,
.sponsors div a:active,
.sponsors div a:focus {
  outline: 0;
  background-color: transparent;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 15px;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 15px;
  font-size: 1.2em;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  p {
    font-size: 1.3em;
    margin: 0 0 25px;
    line-height: 1.7em;
  }
}
a {
  color: #42DCA3;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}
.row {
  margin-top: 15px;
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  font-size: 1em;
  padding: 15px;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
