
.rainforest {

    background: linear-gradient(
      rgba(55, 97, 9, .6),
      rgba(55, 97, 9, .6)
    ), url(../img/backgrounds/aquaria.jpg) no-repeat center center scroll;
        background-size: cover;
  }

.rainforest_red {
  background-color: fade(red, 70%);
}
.rainforest_orange {
  background-color: fade(#FA8D1D, 70%);
}
.description-prime {

    text-align: justify;
    padding-top: 50px;
    font-size: 1.5em;

}

.description-secondary {
  font-size: 1.3em;
  padding-top: 30px;
  text-align: justify;
}

.description-know {
  background-color: fade(#0088B6, 80%);
  padding: 20px 30px 10px;
  margin-top: 40px;


  h4 {
    text-align: left;
  }
  p {
    text-align: justify;


    .rainforest_meter {
      background: #fff;
      color: #000;
    }
  }
}
